.env
.env.*
.python-version
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
data/
*.log
*.swp
*.swo
*.egg-info/
.pytest_cache/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
