version: "3.9"

services:
  web:
    platform: linux/amd64
    build:
      context: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - SQLITE_PATH=/data/db.sqlite3
    volumes:
      - ./data:/data
